@import "~bootstrap";
@import "~select2-bootstrap-5-theme";
@import "~bootstrap-icons";

/*begin common*/
body {
    /*font-family: "Lato", Arial, sans-serif;*/
    font-family: "Poppins", sans-serif;
    background-color: #ded6750f;
}

:root {
    --header: 0vh;
}

/*only mobile devices*/
@media only screen and (hover: none) and (pointer: coarse) {
    :root {
        --header: 60px;
    }
}

.body-container {
    min-height: calc(100vh - var(--header));
}

.container-right {
    background-color: #fff;
}

.sidebar-block_border {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
}

/*Кнопка логин*/
.btn.btn-primary {
    background: #e3b04b !important;
    border: 1px solid #e3b04b !important;
    color: #fff !important;
}

/*Кнопка логин*/
.container-right .btn.btn-primary {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*end common*/


#calendar-details {
    min-width: 10vh;
}

.calendar-table .nearby_month {
    color: rgba(128, 128, 128, 0.60);
}

#physical-exercises-settings table .action-icons {
    width: 8%;
}

.physical-exercises-unselected {
    color: rgba(128, 128, 128, 0.8);
}

.bi-toggle2-on {
    color: green;
}

.bi-toggle2-off {
    color: rgba(128, 128, 128, 0.8);
}


/*begin pagination*/
.pagination {
    --bs-pagination-border-color: none;
    --bs-pagination-color: none;
    --bs-pagination-active-bg: green;
}

.page-link.active, .active > .page-link {
    border-radius: 20%;
}

.page-link.active, .active > .page-link {
    background-color: unset;
    border: var(--bs-border-width) var(--bs-border-style) green !important;
    color: unset;
}

.page-link:hover {
    border-radius: 20%;
    color: unset;
}

@media (max-width: 576px) {
    .common-pagination {
        display: none;
    }

    .low-width-pagination {
        display: block;
    }
}

@media (min-width: 576px) {
    .common-pagination {
        display: block;
    }

    .low-width-pagination {
        display: none;
    }
}

/*end pagination*/

/*begin select2*/
.select2-container .select2-selection--multiple {
    cursor: text !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: none;
    border-color: green !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    background-color: green !important;
}

.select2-container--bootstrap-5 {
    width: 50% !important;
}

@media (max-width: 1200px) {
    .select2-container--bootstrap-5 {
        width: 70% !important;
    }
}

@media (max-width: 768px) {
    .select2-container--bootstrap-5 {
        width: 100% !important;
    }
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    border-color: #0aac0a;
    box-shadow: 0 0 0 0.20rem rgba(14, 170, 32, 0.5);
}

.select2-container--bootstrap-5 .select2-dropdown {
    border-color: green !important;
}

/*end select2*/

/*PC navigation*/
.main-navigation i {
    font-size: large;
}

/*begin intradaily table*/
#intradaily-exercises .row {
    min-height: 3vh;
}

#intradaily-exercises .block-body {
    cursor: move;

    /*temp*/
    width: 100%;
}

#intradaily-exercises div div {
    height: 100%;
}

/*наведение на редактируемое поле таблицы*/
#intradaily-exercises .input-parent:hover {
    border-bottom-color: green !important;
    cursor: text;
}

#intradaily-exercises input {
    border: none !important;
    padding-left: 0;
    width: 100%;
    line-height: normal;
}

input:focus {
    outline: none;
}

#intradaily-exercises .delete-control i {
    color: gray;
}

#intradaily-exercises .delete-control div:hover {
    /*color: red !important;*/
    /*cursor: pointer;*/
}

#intradaily-exercises .delete-control i:hover {
    color: red !important;
    cursor: pointer;
}

#intradaily-exercises span {
    display: block;
    overflow: hidden;
}

#intradaily-exercises .sort-field {
    width: 3.5%;
}

/*end intradaily table*/


/*begin mobile header*/
:root {
    --light-beige: #f3e2cf;
    --base-beige: #ecd8c1;
    --dark-gray: #494c4e;
}

/* Header */

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-mobile .container {
    background-color: var(--light-beige);
    box-shadow: 1px 1px 5px 0 var(--base-beige);
    z-index: 99;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--dark-gray);
    font-size: 60px;
    margin-left: 10px;
}

header .menu a {
    display: block;
    padding: 1rem;
    color: var(--dark-gray);
}

header a:hover {
    color: var(--dark-gray);
}

header .menu a:hover {
    background-color: var(--base-beige);
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: var(--dark-gray);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--dark-gray);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

/*begin test menu*/
.mobile-menu-block {
    width: 100%;
    background-color: var(--light-beige);
    overflow: hidden;
    position: absolute;
    height: 0;
    transition: height 1s;
    z-index: 111;
}

.side-menu:checked ~ .mobile-menu-block {
    /*max-height: 100%;*/
}

/*end test menu*/

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/*Open header, hide scroll*/
body:has(.side-menu:checked) {
    overflow: hidden;
}

/*end mobile header-------------------------------------------------------*/


/*begin settings page*/
.menu a {
    color: var(--dark-gray);
}

.menu a:hover {
    /*background-color: var(--base-beige);*/
    color: var(--dark-gray);
    background-color: rgb(0 0 0 / 8%);
}

.side-menu:checked ~ .mobile-menu-block {
    /*background: var(----dark-gray);*/
    height: 92vh;
}

@media (min-width: 576px) {
    .mobile-menu-block {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .mobile-menu-block {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .mobile-menu-block {
        max-width: 960px;
    }
}

.mobile-menu-block {
    box-shadow: 1px 1px 5px 0 var(--base-beige);
}
