@import "~bootstrap";
@import "~select2-bootstrap-5-theme";
@import "~bootstrap-icons";

/*begin common*/
body {
    /*font-family: "Lato", Arial, sans-serif;*/
    font-family: "Poppins", sans-serif;
    background-color: #ded6750f;
}

:root {
    --header: 6vh;
}

/*only mobile devices*/
@media only screen and (hover: none) and (pointer: coarse) {
    :root {
        --header: 60px;
    }

    /*#intradaily-exercises-body .block-body {*/
    /*    margin-top: 0.25rem !important;*/
    /*}*/
}

/*other way*/
.type-mobile #intradaily-exercises-body .block-body {
    margin-top: 0.25rem !important;

    display: flex;
}

.body-container {
    min-height: calc(100vh - var(--header));
}

.sidebar-block_border {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
}

/*login button*/
.btn.btn-primary {
    background: #e3b04b !important;
    border: 1px solid #e3b04b !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: #d79d29 !important;
    border-color: #d79d29 !important;
}

/*Кнопка логин*/
.container-right .btn.btn-primary {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.col-05-cstm {
    flex: 0 0 auto;
    width: 4.166666666%;
}

.col-35-cstm {
    flex: 0 0 auto;
    width: 29.16666666%;
}

input:focus {
    outline: none;
}

.color-gray {
    color: gray;
}

.color-goldenrod {
    color: goldenrod;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 0 !important;
    display: block;
}

textarea:focus-visible {
    outline: none;
}

.month-picker {
    border: none;
}

/*end common*/


#calendar-details {
    min-width: 10vh;
}

.calendar-table .nearby_month {
    color: rgba(128, 128, 128, 0.60);
}

#physical-exercises-settings table .action-icons {
    width: 8%;
}

.physical-exercises-unselected {
    color: rgba(128, 128, 128, 0.8);
}

.bi-toggle2-on {
    color: green;
}

.bi-toggle2-off {
    color: rgba(128, 128, 128, 0.8);
}

.form-control:focus {
    box-shadow: 0 0 0 0.20rem rgba(14, 170, 32, 0.5);
}


/*begin pagination*/
.pagination {
    --bs-pagination-border-color: none;
    --bs-pagination-color: none;
    --bs-pagination-active-bg: green;
}

.page-link.active, .active > .page-link {
    border-radius: 20%;
}

.page-link.active, .active > .page-link {
    background-color: unset;
    border: var(--bs-border-width) var(--bs-border-style) green !important;
    color: unset;
}

.page-link:hover {
    border-radius: 20%;
    color: unset;
}

@media (max-width: 576px) {
    .common-pagination {
        display: none;
    }

    .low-width-pagination {
        display: block;
    }
}

@media (min-width: 576px) {
    .common-pagination {
        display: block;
    }

    .low-width-pagination {
        display: none;
    }
}

/*end pagination*/

/*begin select2*/
.select2-container .select2-selection--multiple {
    cursor: text !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: none;
    border-color: green !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    background-color: green !important;
}

.select2-container--bootstrap-5 {
    width: 50% !important;
}

.select2-container--bootstrap-5 {
    width: 100% !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    border-color: #0aac0a;
    box-shadow: 0 0 0 0.20rem rgba(14, 170, 32, 0.5);
}

.select2-container--bootstrap-5 .select2-dropdown {
    border-color: green !important;
}

/*end select2*/

/*PC navigation*/
.main-navigation i {
    font-size: large;
}

/*begin intradaily table*/

/*resolution from 0 to x*/
@media screen and (max-width: 768px) {
    #intradaily-exercises, .col-left, .col-right {
        display: none;
    }

    .col-10-cstm {
        flex: 0 0 auto;
        width: 100%;
    }
}

/*resolution from x to MAX*/
@media screen and (min-width: 768.1px) {
    #intradaily-exercises-low-res {
        display: none;
    }

    .col-10-cstm {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}

.intradaily-exercises-common .block-body {
    cursor: move;
}

.intradaily-exercises-common input {
    border: none !important;
    padding-left: 0;
    width: 100%;
    line-height: normal;
}

.intradaily-exercises-common .delete-control i {
    color: gray;
}

.intradaily-exercises-common .delete-control i:hover {
    color: red !important;
    cursor: pointer;
}

/*hover on editable table field*/
.intradaily-exercises-common .border-bottom-hover:hover {
    border-bottom-color: green !important;
    cursor: text;
}

.intradaily-exercises-common input:hover:after {
    content: attr(data-title);
    display: block;
}

#intradaily-exercises span {
    display: block;
    overflow: hidden;
}


#intradaily-exercises-low-res .block-body {
    display: flex;
}

#intradaily-exercises-low-res .delete-control i, #intradaily-exercises-low-res .ie-line-balancer {
    font-size: 1.25rem;
}

#intradaily-exercises-low-res .header-images {
    width: 100%;
    height: 100%;
}

#intradaily-exercises-low-res .header-images div {
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

#intradaily-exercises-low-res .header-images img {
    width: 100%;
    position: absolute;
    left: 0;
}

#intradaily-exercises-low-res .ie-lr-header {
    background-color: #6996ff14;
}

#intradaily-exercises-low-res .ie-lr-pre-header {
    height: 1.5rem;
    background-color: #6996ff14;
}

/*end intradaily table*/


/*begin mobile header*/
:root {
    --light-beige: #f3e2cf;
    --base-beige: #ecd8c1;
    --dark-gray: #494c4e;
}

/* Header */

.header-mobile .container {
    background-color: var(--light-beige);
    box-shadow: 1px 1px 5px 0 var(--base-beige);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--dark-gray);
    font-size: 60px;
    margin-left: 10px;
}

.header-mobile .menu a {
    display: block;
    padding: 1rem;
    color: var(--dark-gray);
}

.header-mobile a:hover {
    color: var(--dark-gray);
}

.header-mobile .menu a:hover {
    background-color: var(--base-beige);
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: var(--dark-gray);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--dark-gray);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.mobile-menu-block {
    width: 100%;
    background-color: var(--light-beige);
    overflow: hidden;
    position: absolute;
    height: 0;
    transition: height 1s;
    z-index: 111;
}

.side-menu:checked ~ .mobile-menu-block {
    /*max-height: 100%;*/
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/*Open header, hide scroll*/
body:has(.side-menu:checked) {
    overflow: hidden;
}

.header-mobile ul {
    padding-inline-start: 20px;
}

/*end mobile header-------------------------------------------------------*/

/*begin desktop header*/

.header-desktop {
    /*min-height: 8vh;*/
    z-index: 200;
    position: relative;
}

.header-desktop .container {
    background-color: #fff;
    min-height: 6vh;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .06);
}

/*end desktop header-------------------------------------------------------*/

/*begin settings page*/
.menu a {
    color: var(--dark-gray);
}

.menu a:hover {
    /*background-color: var(--base-beige);*/
    color: var(--dark-gray);
    background-color: rgb(0 0 0 / 8%);
}

.side-menu:checked ~ .mobile-menu-block {
    /*background: var(----dark-gray);*/
    height: 92vh;
}

@media (min-width: 576px) {
    .mobile-menu-block {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .mobile-menu-block {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .mobile-menu-block {
        max-width: 960px;
    }
}

.mobile-menu-block {
    box-shadow: 1px 1px 5px 0 var(--base-beige);
}


/*pc profile block*/
#pc-profile-widget {
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;

    background-color: #fff;
    height: 20vh;
    width: 15vw;

    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 46px rgba(0, 0, 0, .12), 0 7px 15px rgba(0, 0, 0, .12);
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes h1de {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.header-desktop .container {
    position: relative;
}

/*registration form*/
@media (min-width: 1200px) {
    .w50-button {
        max-width: 40%;
    }

    .registration .w50-button {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}


/*begin statistics */

/*resolution from 0 to x*/
@media screen and (max-width: 768px) {
    .sel2-cstm {
        width: 50%;
    }
}

@media screen and (min-width: 768.1px) {
    .sel2-cstm {
        width: 25%;
    }
}

/*end statistics */
